<!-- blog -->
<div class="blog">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Aktiviteter</h2>
                <p>Hotellet omges av en mängd spännande aktiviteter att upptäcka.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="{{ site.baseurl }}/images/klackberg.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Längdskidåkning</h3>
                   <span>Ski in / Ski out</span>
                   <p>Hela vintern och så länge snön ligger kvar kan du ge dig ut på härliga skidturer i den vackra naturen. De välkända och välpreparerade spåren, som också används under Engelbrektsloppet, passar både nybörjare och erfarna skidåkare.</p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="{{ site.baseurl }}/images/bla_grottan.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Blå grottan</h3>
                   <span>Klackbergs naturreservat, 100 m.</span>
                   <p>Följ slingrande stigar, vandra genom mystiska tunnlar och upptäck gruvfältets rika historia. Upplev ljusets magi i Blå Grottan och låt dig fascineras av naturens och gruvmiljöns unika samspel - en upplevelse du sent kommer att glömma!</p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="{{ site.baseurl }}/images/kantarell.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Svampplockning</h3>
                   <span>Skogen, 0 m.</span>
                   <p>
                    Om du gillar att plocka svamp erbjuder området runt Klackberg en stor variation av arter att upptäcka. Varje år återvänder grupper av entusiaster för att utforska skogarna, dela tips och fylla sina korgar med naturens skatter.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>