<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class=" col-md-4">
                <h3>Kontakta oss</h3>
                <ul class="conta">
                   <li><i class="fa fa-map-marker" aria-hidden="true"></i> Klackbergsvägen 103, 738 91 Norberg</li>
                   <li><i class="fa fa-mobile" aria-hidden="true"></i> +46 (0)223-220 33</li>
                   <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@klackbergsgarden.se">info@klackbergsgarden.se</a></li>
                   <li><a href="https://www.facebook.com/klackbergsgarden.se"><i class="fa fa-facebook" aria-hidden="true"></i> www.facebook.com/klackbergsgarden.se</a></li>
               </ul>
             </div>
             <div class="col-md-4">
                <h3>Meny</h3>
                <ul class="link_menu">
                  {% for item in site.data.navigation %}
                  <li{% if page.url == item.link %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
                  {% endfor %}
                </ul>
             </div>
             <div class="col-md-4">
                <h3>Länkar</h3>
                <ul class="link_menu">
                  <li><a href="https://www.engelbrektsloppet.se">Engelbrektsloppet</a></li>
                  <li><a href="https://www.facebook.com/norbergslk/">Klackbergsbacken</a></li>
                  <li><a href="https://www.visitnorberg.se/">Visit Norberg</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-10 offset-md-1">
                   <p>
                   © 2025 Klacken 1:17 AB.
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-3.0.0.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ site.baseurl }}/js/custom.js"></script>