 <!--  footer -->
 <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class=" col-md-4">
                <h3>Kontakta oss</h3>
                <ul class="conta">
                   <li><i class="fa fa-map-marker" aria-hidden="true"></i> Klackbergsvägen 103, 738 91 Norberg</li>
                   <li><i class="fa fa-mobile" aria-hidden="true"></i> +46 (0)223-220 33</li>
                   <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@klackbergsgarden.se">info@klackbergsgarden.se</a></li>
                </ul>
             </div>
             <div class="col-md-4">
                <h3>Meny</h3>
                <ul class="link_menu">
                   <li class="active"><a href="#">Hem</a></li>
                   <li><a href="about.html">Om oss</a></li>
                   <li><a href="room.html">Våra rum</a></li>
                   <li><a href="gallery.html">Gallery</a></li>
                   <li><a href="blog.html">Blog</a></li>
                   <li><a href="contact.html">Kontakta oss</a></li>
                </ul>
             </div>
             <div class="col-md-4">
                <h3>News letter</h3>
                <form class="bottom_form">
                   <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                   <button class="sub_btn">subscribe</button>
                </form>
                <ul class="social_icon">
                   <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-10 offset-md-1">
                   
                   <p>
                   © 2025 All Rights Reserved. Design by Johan Dahlborg
                   </p>

                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- end footer -->